@page "/dashboard/{navUserId}"

@inject IUserService _userService
@inject ILeaveService _leaveService
@inject NavigationManager NavManager
@inject Blazored.SessionStorage.ISessionStorageService sessionManager
<h3>@userDetail.FirstName @userDetail.LastName Dashboard</h3>

<div style="height: 10rem"></div>

<div class="col-sm-12 row">
    <table class="tabe table-hover table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Date Created</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Leave Left</th>
                <th>Type of leave</th>
                <th>Reason</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in LeaveList)
            {
                <tr>
                    <td>@item.DateCreated</td>
                    <td>@item.FromDate</td>
                    <td>@item.ToDate</td>
                    <td>@item.LeaveLeft</td>
                    <td>@item.TypeOfLeave</td>
                    <td>@item.Reason</td>
                </tr>

            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string navUserId { get; set; }

    User userDetail = new User();
    List<Leave> LeaveList = new List<Leave>();
    protected override async Task OnInitializedAsync()
    {
        //Int32.TryParse(navUserId, out userID);

        //LeaveList = await _leaveService.GetAllLeaveByUserId(userID);

        userDetail = await sessionManager.GetItemAsync<User>("userDetail");

        this.StateHasChanged();
    }
}
